---
import { SITE } from '../config';
---
<footer class="footer">
  <span>© 2026 Лёша Музыка</span>
  <div class="footer-links">
    <a href={SITE.telegram}>Telegram</a>
    <a href={SITE.github}>GitHub</a>
    <a href={SITE.viralmaxing}>Viralmaxing</a>
  </div>
</footer>
